build-process.txt
__pycache__/
*.egg-info/
*.egg
dist/
build/
env/

example/__pycache__

js-folder-picker/node_modules
js-folder-picker/package-lock.json
js-folder-picker/distribution
js-folder-picker/dist
CustomCTkDialog/resources/app.asar
